nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}
nav .navbar-brand .red {
    color: #ea433b;
}
nav .navbar-brand .yellow {
    color: #f5b82e;
}
nav .navbar-brand .green {
    color: #2e944b;
}

main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img {
    /* constrain images on small screens */
    max-width: 100%;
}

.registration_form {
}

.form-group {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    text-align: start;
}
.form-control-label {
    width: 130px;
    text-align: start;
}

.portfolio {
    display: grid;
    grid-template-columns: 0.5fr 2.6fr 1fr 1.6fr 1.6fr;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.quoted {
    background-color: rgba(225, 228, 231, 0.404);
    width: max-content;
    font-weight:550;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
}

.portfolio > span , .history > span{
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.buy_fieldset {
    width: 50%;
    margin: auto;
}
.buy1 {
    margin-bottom: 12px;
}

.balance {
    font-weight: 600;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    margin-top: 2%;
    width: max-content;
    
}

.balance > span {
    text-align: start;
}

.sell_form > button{
    width: max-content;
    margin: auto;
    margin-top: 1%;
    display: block !important;
}

.history {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 1fr;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.sold {
    color: rgb(230, 0, 0);
    font-weight: 500;
}

.bought {
    color: rgb(0, 151, 0);
    font-weight: 500;
}