{% extends "layout.html" %} {% block main %}
<div class="registration_form">
    <form method="POST" action="">
        <fieldset class="form">
            <legend>Register</legend>
            <div class="form-group">
                <label for="username" class="form-control-label">Username</label>
                <input type="hidden" name="checking" value="true">
                <input type="text" class="form-control form-control-lg" name="username">

            </div>
            <div class="form-group">
                <label for="password" class="form-control-label">Password</label>
                <input type="password" class="form-control form-control-lg" name="password" >
            </div>
            <div class="form-group">
                <label for="confirm" class="form-control-label">Confirm Password</label>
                <input type="password" class="form-control form-control-lg" name="confirm" >
            </div>
        </fieldset>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already Have An Account?
        <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
    </small>
</div>
{% endblock main %}
